<h2 mat-dialog-title>Nominee Details</h2>
<mat-dialog-content>
  <form [formGroup]="nomineeDetailsForm">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false" class="pb-2">
        <mat-expansion-panel-header class="border bg-light">
          <mat-panel-title class="fs-3  fw-bold text-muted">
            Basic Details
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="pt-1 w-75 row mt-1">
          <div class="col-sm-5">
            <label for="firstName" class="form-label text-muted fw-bold ">
              First Name
              <span class="ms-2 text-danger fs-3">*</span>
            </label>
            <input type="text" id = "firstName"
                   formControlName="firstName"
                   class="form-control form-control-lg border-2" />
          </div>
          <div class="col-sm-5">
            <label for="middleName" class="form-label text-muted fw-bold ">
              Middle Name
              <span class="ms-2 text-danger fs-3">*</span>
            </label>
            <input type="text" id = "middleName"
                   formControlName="middleName"
                   class="form-control form-control-lg border-2" />
          </div>
        </div>
        <div class="pt-1 w-75 row mt-1">
          <div class="col-sm-5">
            <label for="lastName" class="form-label text-muted fw-bold ">
              Last Name
              <span class="ms-2 text-danger fs-3">*</span>
            </label>
            <input type="text" id = "lastName"
                   formControlName="lastName"
                   class="form-control form-control-lg border-2" />
          </div>
          <div class="col-sm-5">
            <label for="lastName" class="form-label text-muted fw-bold ">
              Date of Birth
              <span class="ms-2 text-danger fs-3">*</span>
            </label>
            <mat-form-field>
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker1" >
              <mat-hint>DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</mat-dialog-content>
<mat-dialog-actions  align="end">

    <button type="button"  class="btn btn-warning gap-1 me-2">
      <div class="d-flex align-items-center justify-content-center gap-1">
        <i class="ti ti-refresh fs-3 mb-1"></i>
        {{ 'BTN_RST' | translate}}
      </div>
    </button>
    <button type="button"  class="btn btn-danger gap-1  me-2">
      <div class="d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center gap-1">
          <i class="ti ti-x fs-3 mb-1"></i>
          {{'BTN_CNCL'|translate}}
        </div>
      </div>
    </button>
    <button type="button" class="btn btn-primary">
      <div class="d-flex align-items-center justify-content-center gap-1">
        <div class="d-flex align-items-center justify-content-center gap-1">
          {{'BTN_SBMT'|translate}}
          <i class="ti ti-check fs-3 mb-1"></i>
        </div>
      </div>
    </button>
</mat-dialog-actions>
