<div class="mx-5 mt-5">
  <div class="border-bottom">
    <h1 class="text-primary fw-bold text-uppercase">On Boarding</h1>
  </div>
  <!-- Detail Stepper -->
  <mat-stepper #onboarding>
    <ng-template matStepperIcon="edit">
      <div class="icon-wrapper">
        <mat-icon>check</mat-icon>
      </div>
    </ng-template>

    <mat-step label="Details">
      <app-details (submitEvent)="onNext($event)" (previousEvent)="onPrevious($event)"></app-details>
    </mat-step>

    <!-- Contact Stepper -->
    <mat-step  label="Contact">
      <app-contacts (submitEvent)="onNext($event)" (previousEvent)="onPrevious($event)"></app-contacts>
    </mat-step>

    <!-- AdditionalInfo Stepper -->
    <mat-step
              label="Additional Info">
      <app-additional-info (submitEvent)="onNext($event)" (previousEvent)="onPrevious($event)"></app-additional-info>
    </mat-step>

    <!-- Documents -->
    <mat-step
              label="Documents">
      <app-documents (submitEvent)="onNext($event)" (previousEvent)="onPrevious($event)"></app-documents>
    </mat-step>
    <!-- Account Preference -->
    <mat-step
              label="Account Preference">
      <app-account-preferences (submitEvent)="onNext($event)" (previousEvent)="onPrevious($event)"></app-account-preferences>
    </mat-step>

    <!-- Nominee details -->
    <mat-step
              label="Nominee Details">
      <nominee-details (submitEvent)="onNext($event)" (previousEvent)="onPrevious($event)"></nominee-details>
    </mat-step>
    <!-- Declaration -->
    <mat-step
              label="Declaration">
      <app-declarations (submitEvent)="onNext($event)" (previousEvent)="onPrevious($event)"></app-declarations>
    </mat-step>
  </mat-stepper>
</div>
