<form action="" class=" modal-body">
  
    <mat-icon (click)="closeModal()" class="close-icon">close</mat-icon>
 
    <div class=" d-flex flex-column justify-content-center align-items-center mt-1 modal-content border text-primary p-3 rounded ">
        <h3 class="fw-bold text-muted  text-center">Session Request</h3>
        <div class="d-flex justify-content-center align-items-center">
          <input  type="checkbox">
          <span class="p-2 text-muted ">Check to confirm</span>
        </div>
      <hr>
        <button type="submit" class="btn btn-light rounded">Force Sign in</button>
    </div>
</form>
