<div class="container m-5">
  <div class="mb-5">
    <h2>Reactive Form Example with Validation</h2>
  </div>
  <div class="row" [formGroup]="exampleForm">
    <div class="col-6">
      <div class="m-2 row">
        <div class="col-4">
          <div class="text-muted fw-bold pe-5 pt-1 ">Normal <span class="text-danger">*</span></div>
        </div>
        <div class="col-8">
          <input type="text" id="normal"
                 class="form-control" [class]="normal.valid ? 'is-valid': 'is-invalid'" formControlName="normal"
                 required>
          <div class="invalid-feedback" *ngIf="normal.invalid && (normal.dirty || normal.touched)">{{normalErrors}}
          </div>
          <div class="valid-feedback" *ngIf="normal.valid">
            Looks good!
          </div>
        </div>
      </div>
      <div class="m-2 row">
        <div class="col-4">
          <div class="text-muted fw-bold pe-5 pt-1">Amount <span class="text-danger">*</span></div>
        </div>
        <div class="col-8">
          <input type="text"
                 class="form-control float-end text-end" formControlName="amount"
                 [class]="amount.valid ? 'is-valid': 'is-invalid'"
                 required>
          <div class="invalid-feedback"
               *ngIf="amount.invalid && (amount.dirty || amount.touched)">{{amountErrors}}</div>
        </div>
      </div>
      <div class="m-2 row">
        <div class="col-4">
          <div class="text-muted fw-bold pe-5 pt-1 control-label">Positive Integer <span class="text-danger">*</span>
          </div>
        </div>
        <div class="col-8">
          <input type="number"
                 class="form-control" formControlName="positiveInteger" required>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="m-2 row">
        <div class="col-4">
          <div class="text-muted fw-bold pe-5 pt-1">English Only <span class="text-danger">*</span></div>
        </div>
        <div class="col-8">
          <input type="text"
                 class="form-control" formControlName="englishOnly"
                 [class]="englishOnly.valid ? 'is-valid': 'is-invalid'" required>
          <div class="invalid-feedback"
               *ngIf="englishOnly.invalid && (englishOnly.dirty || englishOnly.touched)">{{englishErrors}}</div>
        </div>
      </div>
      <div class="m-2 row">
        <div class="col-4">
          <div class="text-muted fw-bold pe-5 pt-1">Percentage with six digit precision <span
            class="text-danger">*</span></div>
        </div>
        <div class="col-8">
          <input type="number"
                 class="form-control" formControlName="percentageWithSixDigitPrecision" [class]="percentageWithSixDigitPrecision.valid ? 'is-valid': 'is-invalid'" required>
          <div class="invalid-feedback"
               *ngIf="percentageWithSixDigitPrecision.invalid && (percentageWithSixDigitPrecision.dirty || percentageWithSixDigitPrecision.touched)">{{percentageWithSixDigitPrecisionErrors}}</div>
        </div>
      </div>
      <div class="m-2 row">
        <div class="col-4">
          <div class="text-muted fw-bold pe-5 pt-1">Negative Integer <span class="text-danger">*</span></div>
        </div>
        <div class="col-8">
          <input type="number"
                 class="form-control" formControlName="negativeInteger" required>
        </div>
      </div>
    </div>

    <div class="pt-5">
      <div class="text-end">
        <!-- BUTTON CANCEL -->
        <button class="btn btn-danger me-2" (click)="onReset()">
          <div class="d-flex align-items-center justify-content-center gap-1">
            Reset<i class="ti ti-arrow-back-up fs-3 mb-1"></i>
          </div>

        </button>
        <!-- BUTTON SAVE -->
        <button class="btn btn-primary" (click)="onSubmit()">
          <div class="d-flex align-items-center justify-content-center gap-1">
            Submit <i class="ti ti-check fs-3 mb-1"></i>
          </div>
        </button>
      </div>
    </div>
  </div>

</div>
