<div class="card card-body" *ngIf="tabs.length > 0">
  <mat-tab-group>
    <ng-container *ngFor="let tab of tabs; let index = index">
      <mat-tab *ngIf="tab.title">
        <ng-template mat-tab-label>
          <div class="pe-3 fs-4 fw-bold">{{ tab.title }}</div>
          <button class="btn-close btn-secondary fs-6" aria-label="Close" (click)="closeTab($event, index)">
          </button>
        </ng-template>
        <ng-container *ngComponentOutlet="tab.component;"></ng-container>
      </mat-tab>
    </ng-container>
  </mat-tab-group>
</div>
