<section class="section-class">
  <header>
    <nav class="px-2 shadow-sm " style="background-color: #FFFFFF;">
      <div class="ms-2 d-flex justify-content-between pt-3">

        <div class="d-flex justify-content-center">
          <a class="navbar-brand " href="#">

            <a [routerLink]="['/']" class="b-brand">
              <!-- ========   change your logo hear   ============ -->
              <img src="assets/images/logo-dark.svg" alt="" class="logo logo-lg pt-1"/>
            </a>

        </a>

        </div>


        <div class="mx-5 mt-3">
          <app-welcome-message></app-welcome-message>
        </div>




        <div>

          <ul class="list-unstyled d-flex justify-content-end align-items-center">

            <li>
              <div class="mx-2">
                <select class="form-select form-select-sm"#selLang  >
                  <option value="en"  selected>English</option>
                  <option value ="bn" >Bangla</option>
                </select>
              </div>
            </li>
            <li>
              <div class="dropdown pc-h-item header-user-profile user-settings mx-2" ngbDropdown>

                <div>
                  <a
                  class="pc-head-link head-link-primary dropdown-toggle arrow-none me-0 d-flex justify-content-center align-items-center"
                  data-bs-toggle="dropdown"
                  href="javascript:"
                  ngbDropdownToggle
                >
                  <img
                  src=""
                  alt="user-image"
                  class="profilepic user-avtar"
                  onerror="this.src='../../../../../../assets/images/defaultUserProfilePicture.svg';
                          this.alt='Default Profile' ;
                          id='defaultProfilePic'"
                  />
                  <span class="mx-2">
                    <i class="ti ti-settings"></i>
                  </span>
                </a>

                </div>

                <div class="dropdown-menu  dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
                  <div class="dropdown-header">
                    <h4>  </h4>
                    <p class="text-muted">Admin</p>
                    <a  class="dropdown-item button">
                      <i class="ti ti-logout"></i>
                      <span>Logout</span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- BODY PART STARTS -->
  <body>
    <div class="container  py-1">
      <div class="row d-flex align-items-center content-bg justify-content-center h-50">
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <div class="">

            <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()" class="glass-back my-5 py-5">
              <div><h2 class="text-primary fw-bold mb-5">CHANGE PASSWORD</h2></div>
              <div class="form-outline mb-4">
                <label class="form-label text-muted">Old Password</label>
                <input type="password" class="form-control form-control-lg" formControlName="loginKeyOld" />
              </div>

              <!-- New Password input -->
              <div class="form-outline mb-4">
                <label class="form-label text-muted">New Password</label>
                <input type="password" class="form-control form-control-lg" formControlName="loginKeyNew" />
              </div>

              <!-- Confirm Password -->
              <div class="form-outline mb-4">
                <label class="form-label text-muted">Confirm Password</label>
                <input type="password" class="form-control form-control-lg" formControlName="loginKeyRe" />
              </div>

              <!-- Submit button -->
              <div class="d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-primary btn-block rounded mb-2" (click)="onChangePassword()">Apply</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
  </section>

<!-- FOOTER -->
<app-footer></app-footer>
