<div class="container">
  <div class="row">
    <div class="col-sm">
      <label for="funcCode" class="form-label">Function Code</label>
      <select id="funcCode" class="form-select form-select-sm" aria-label=".form-select-lg example">
        <option selected></option>
        <option value="I">I-Inquiry</option>
        <option value="A">A-Add</option>
        <option value="D">D-Delete</option>
        <option value="U">U-Undelete</option>
        <option value="M">M-Modification</option>
        <option value="V">V-Verification</option>
        <option value="X">C-Cancel</option>
        <option value="C">C-Copy</option>
      </select>
    </div>
  </div>
  <div class="d-flex flex-row-reverse">
    <div>
      <button type="button" class="btn btn-warning">Go</button>
      <button type="button" class="btn btn-light ml-2">Cancel</button>
    </div>
  </div>
</div>
