<div class="card">
    <div class="card-header">
        Balance Inquiry
    </div>
    <div class="card-body">
        <div class="row align-items-stretch">
            <div class="col-6">
                <div class="card h-100">
                    <div class="card-header">
                        Inquiry Details
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label for="accNum" class="form-label">Account No</label>
                                <input type="text" class="form-control" id="accNum">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card h-100">
                    <div class="card-header">
                        Customer Details
                    </div>
                    <div class="card-body">
                        <span>
                            <p>Please enter the Account No</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-3 d-flex justify-content-center">
    <div>
        <button type="button" class="btn btn-warning">Submit</button>
        <button type="button" class="btn btn-light ml-2">Reset</button>
    </div>
</div>