<section >


    <!-- LOGO -->
    <div id="logo-size" class=" d-flex justify-content-center shadow py-2 img-fluid" >
        <img src="../../../assets/images/logo-dark.svg" alt="">
    </div>


    <!-- PAGE COMPONENTS -->
   <div>
    <!-- TOP COMPONENT -->
    <div id="top-element-size" class="d-flex justify-content-center img-responsive pb-5">
        <img src="../../../assets/images/tab-prevention/TOP ELEMENT.svg" alt="">
    </div>

    <!-- BOTTOM COMPONENT -->
    <div class="container">
    <div class="row justify-content-center ">
        <div class="col-md-4 border-2 border-dark-subtle rounded-pill shadow-sm">
            <div class="py-3 text-body-tertiary fw-bold">
                <div class="pb-2 text-center">A TAB IS ALREADY OPEN</div>
                <div class="pb-2 text-center">CAN NOT OPEN ANOTHER TAB</div>           
                <div class="text-center">SWITCH TO THE OPENED TAB</div>
            </div>
        </div>
    </div>
   </div>
   </div>


</section>
