<div class="m-5">
  <div class="border-bottom">
    <h1 class="text-primary fw-bold">Menu Maintenance</h1>
  </div>

  <mat-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="menuSearchForm" [completed]="false" label="Menu Maintenance">
      <form [formGroup]="menuSearchForm">
        <div class="d-flex flex-column m-2 me-5">
          <div class="pt-1 w-50 row mt-5">
            <label for="funcCode" class="form-label text-muted col-4 fw-bold">Function Code</label>
            <div class="col-8">
              <select id="funcCode" class="form-select" formControlName="funcCode">
                <option value="I">I-Inquiry</option>
                <option value="A">A-Add</option>
                <option value="D">D-Delete</option>
                <option value="U">U-Undelete</option>
                <option value="M">M-Modification</option>
                <option value="V">V-Verification</option>
                <option value="X">X-Cancel</option>
                <option value="C">C-Copy</option>
              </select>
            </div>
          </div>
          <div class="pt-4 w-50 row">
            <label for="menuId" class="form-label text-muted fw-bold col-4">Menu ID</label>
            <div class="col-8">
              <div class="d-flex flex-row">
                <input
                  type="text"
                  class="form-control" formControlName="menuId" minlength="1" maxlength="10"
                  id="menuId"/>
                <button type="button" class="btn btn-outline-primary ms-5" (click)="onSearchMenuId()" [disabled]="!funCode || funCode==='A'">Search</button>
              </div>
            </div>
          </div>
          <div class="pt-4 row">
            <div class="col-2 text-muted fw-bold pt-1 ">Menu Details</div>
            <div
              class="col-10 pt-2 justify-content-start">{{menuFormData?.menuDesc ? menuFormData?.menuDesc : 'N/A'}}</div>
          </div>
        </div>
        <div class="text-end">
          <button type="button" class="btn btn-secondary" (click)="onNext()">
            Next&nbsp;<span class="ti ti-arrow-right"></span></button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="menuSaveForm" label="Menu Details" [completed]="false">
      <form [formGroup]="menuSaveForm">
        <div class="mt-5">
          <div class=" d-flex flex-row">
            <div class="text-muted fw-bold pe-5 pt-1">Menu ID</div>
            <div class="fw-bold pe-5 pt-1">{{menuId}}</div>
          </div>
          <div class=" mt-5 d-flex flex-row">
            <div class="text-muted fw-bold pe-5 pt-1">Module</div>
            <select class="form-select w-50" formControlName="module">
              <option [value]="module.key" *ngFor="let module of modules">{{module.moduleName}}</option>
            </select>
          </div>
          <div class="mt-5">
            <div class="row border-bottom m-1 pb-3">
              <div class="col-4">
                <span class="fw-bold p-5">Language</span>
              </div>
              <div class="col-4">
                <span class="fw-bold">Lang Code Description</span>
              </div>
              <div class="col-4">
                <span class="fw-bold">Menu Code Description</span>
              </div>
            </div>
            <div formArrayName="languageDetails">
              <div *ngFor="let mop of mopCodeDescList; let i= index">
                <div class="row m-1 pb-2 pt-2" [formGroupName]="i">
                  <div class="col-4">
                    <input type="hidden" formControlName="langCode"
                           class="form-control">
                    <input type="hidden" formControlName="delFlg"
                           class="form-control">
                    <input type="hidden" formControlName="lchgTime"
                           class="form-control">
                    <span class="fw-bold p-5">{{mop.langCode}}</span>
                  </div>
                  <div class="col-4">
                    <input type="text"
                           class="form-control" formControlName="langCodeDesc" [readOnly]="true">
                  </div>
                  <div class="col-4">
                    <input type="text"
                           class="form-control" formControlName="menuDesc" [readOnly]="funCode !== 'A' && funCode !== 'M' && funCode !== 'C'">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-5 col-12">
            <span class="form-label text-muted fw-bold pe-5">
                Menu Type
            </span>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="menuTp" id="root" value="R" checked
                     formControlName="menuTp"
                     (change)="onMenuTypeChange($event)">
              <label class="form-check-label" for="root">
                Root
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="menuTp" id="group" value="G"
                     formControlName="menuTp"
                     (change)="onMenuTypeChange($event)">
              <label class="form-check-label" for="group">
                Group
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="menuTp" id="menu" value="M"
                     formControlName="menuTp"
                     (change)="onMenuTypeChange($event)">
              <label class="form-check-label" for="menu">
                Menu
              </label>
            </div>
          </div>
          <div class="mt-5" *ngIf="menuFormData?.menuTp==='G' || menuFormData?.menuTp==='M';">
            <div class="row mb-2">
              <div class="col-2">
                <div class="text-muted fw-bold pe-5 pt-1">Menu Permissions</div>
              </div>
              <div class="col-10">
                <app-nrx-grid [columnDefs]="mopParemListcolumnDefs" [rowData]="mopPermList"
                              [suppressRowSelection]="false" (onRowClickEvent)="onRowClick($event)">
                </app-nrx-grid>
              </div>
            </div>
            <form [formGroup]="parentMenuForm" *ngIf="funCode == 'A' || funCode == 'M' || funCode == 'C'">
              <div class="row pb-3">
                <div class="col-2 text-start">
                  <div class="text-muted fw-bold pe-5 pt-1">Parent Menu</div>
                </div>
                <div class="col-6 text-start">
                  <input
                    type="text"
                    class="form-control" formControlName="parMenuCode" readonly = "true"
                    id="parMenuCode"/>
                  <input
                    type="hidden"
                    class="form-control" formControlName="parMenuCodeDesc"
                    id="parMenuCodeDesc"/>
                </div>
                <div class="col-4 text-start">
                  <button class="btn btn-outline-primary" (click)="onSearchParentMenuId()" [disabled]=isDisabled>Search</button>
                </div>
              </div>
              <div class="row pb-3">
                <div class="col-2 text-start">
                  <div class="text-muted fw-bold pe-5 pt-1">Level</div>
                </div>
                <div class="col-4 text-start">
                  <input
                    type="text"
                    class="form-control" formControlName="levelCode"
                    id="level"/>
                  <input
                    type="hidden"
                    class="form-control" formControlName="entityCreFlg"
                    id="entityCreFlg"/>
                  <input
                    type="hidden"
                    class="form-control" formControlName="lchgTime" id="lchgTime"/>
                </div>
              </div>
              <div class="row pb-3">
                <div class="col-2 text-start">
                  <div class="text-muted fw-bold pe-5 pt-1">Delete?</div>
                </div>
                <div class="col-6 text-start">
                  <input class="form-check-input" type="checkbox" value="Y"
                         id="delFlag" formControlName="delFlg">

                </div>
                <div class="col-4 text-start">

                  <button class="btn btn-outline-success text-start" (click)="addOnParentGrid('update')" *ngIf="isUpdate; else add">Update</button>
                  <ng-template #add>
                    <button class="btn btn-outline-success text-start" (click)="addOnParentGrid('add')">Add</button>
                  </ng-template>
                </div>
              </div>
            </form>
          </div>
          <div class="mt-5 row" *ngIf="menuFormData?.menuTp==='M'">
            <div class="d-flex col-2">
             <span class="form-label text-muted fw-bold pe-5">
                Menu Security
            </span>
            </div>
            <div class="col-8">
              <div class="m-2 justify-content-around">
                <div class="form-check">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox"
                           id="add" formControlName="hasAdd" (change)="checkBoxValues()">
                    <label class="form-check-label" for="add">
                      Add
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value=""
                           id="add-auto-verify" formControlName="addAutoVerify">
                    <label class="form-check-label" for="add-auto-verify">
                      Auto Verify
                    </label>
                  </div>
                </div>
                <div class="form-check">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="" id="delete" formControlName="hasDelete"
                           (change)="checkBoxValues()">
                    <label class="form-check-label" for="delete">
                      Delete
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="" id="delete-auto-verify"
                           formControlName="deleteAutoVerify">
                    <label class="form-check-label" for="delete-auto-verify">
                      Auto Verify
                    </label>
                  </div>
                </div>
                <div class="form-check">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="undelete" formControlName="hasUndelete"
                           (change)="checkBoxValues()">
                    <label class="form-check-label" for="undelete">
                      Undelete
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="undelete-auto-verify"
                           formControlName="undeleteAutoVerify">
                    <label class="form-check-label" for="undelete-auto-verify">
                      Auto Verify
                    </label>
                  </div>
                </div>

                <div class="form-check">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="" id="modification"
                           formControlName="hasModification" (change)="checkBoxValues()">
                    <label class="form-check-label" for="modification">
                      Modification
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="" id="modification-auto-verify"
                           formControlName="modificationAutoVerify">
                    <label class="form-check-label" for="modification-auto-verify">
                      Auto Verify
                    </label>
                  </div>
                </div>
                <div class="ps-5 form-check">
                  <input class="form-check-input" type="checkbox" value="" id="verify" formControlName="hasVerify">
                  <label class="form-check-label" for="verify">
                    Verify
                  </label>
                </div>
                <div class="ps-5 form-check">
                  <input class="form-check-input" type="checkbox" value="" id="cancel" formControlName="hasCancel">
                  <label class="form-check-label" for="cancel">
                    Cancel
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-5" *ngIf="menuFormData?.menuTp==='M'">
            <div class="pt-1 w-50 row mt-5">
              <label for="funcCode" class="form-label text-muted col-4 fw-bold">Security Indication</label>
              <div class="col-8">
                <select id="secuInd" class="form-select" formControlName="secuInd">
                  <option value="I">I-Inquiry</option>
                  <option value="M">M-Modification</option>
                </select>
              </div>
            </div>
            <div class="row pt-5">
              <div class="col-2 text-start">
                <div class="text-muted fw-bold pe-5 pt-1">Param 1</div>
              </div>
              <div class="col-10 text-start">
                <input type="text"
                       class="form-control w-50" formControlName="param1">
              </div>
            </div>
            <div class="row pt-5">
              <div class="col-2 text-start">
                <div class="text-muted fw-bold pe-5 pt-1">Param 2</div>
              </div>
              <div class="col-10 text-start">
                <input type="text"
                       class="form-control w-50" formControlName="param2">
              </div>
            </div>
            <div class="row pt-5">
              <div class="col-2 text-start">
                <div class="text-muted fw-bold pe-5 pt-1">Param 3</div>
              </div>
              <div class="col-10 text-start">
                <input type="text"
                       class="form-control w-50" formControlName="param3">
              </div>
            </div>
            <div class="row pt-5">
              <div class="col-2 text-start">
                <div class="text-muted fw-bold pe-5 pt-1">Param 4</div>
              </div>
              <div class="col-10 text-start">
                <input type="text"
                       class="form-control w-50" formControlName="param4">
              </div>
            </div>
            <div class="row pt-5">
              <div class="col-2 text-start">
                <div class="text-muted fw-bold pe-5 pt-1">Param 5</div>
              </div>
              <div class="col-10 text-start">
                <input type="text"
                       class="form-control w-50" formControlName="param5">
              </div>
            </div>
          </div>
        </div>
        <div class="text-end">
          <button class="btn btn-danger me-2" (click)="onCancel()">Cancel</button>
          <button class="btn btn-primary" (click)="onSave()" [disabled]="funCode === 'I'">Save</button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>


</div>
