<div class="container">
  <!-- HEADER TEXT -->
  <div class="border-bottom">
    <h2 class="text-primary fw-bold my-4">{{ 'BBL000001' | translate | uppercase}}</h2>
  </div>
  <div class="row mt-4">
    <!-- CUSTOMER DETAILS -->
    <div class="col-3 mt-1">
      <div class=" border-end border-1">
        <div class="border-bottom">
          <h4 class="card-title text-muted fw-bold mb-2">{{ 'BBL000006' | translate | uppercase }}</h4>
        </div>
        <div>
          <div class="mt-2">
            <!-- Customer Id -->
            <div class="row mb-2">
              <div class="col-md-6 fw-bold text-muted">
                <div>{{'BBL000036'|translate}}</div>
              </div>
              <div class="col-md-6 text-muted">
                <div>N/A</div>
              </div>
            </div>

            <!-- Mobile -->
            <div class="row mb-2">
              <div class="col-md-6 fw-bold text-muted">
                <div>{{'BBL000037'|translate}}</div>
              </div>
              <div class="col-md-6 text-muted">
                <div>015********</div>
              </div>
            </div>

            <!-- Name -->
            <div class="row mb-2">
              <div class="col-md-6 fw-bold text-muted">
                <div>{{'BBL000038'|translate}}</div>
              </div>
              <div class="col-md-6 text-muted">
                <div>N/A</div>
              </div>
            </div>

            <!-- Email -->
            <div class="row mb-2">
              <div class="col-md-6 fw-bold text-muted">
                <div>{{'BBL000039'|translate}}</div>
              </div>
              <div class="col-md-6 text-muted">
                <div>something247@gmail.com</div>
              </div>
            </div>

            <!-- Account Type -->
            <div class="row mb-2">
              <div class="col-md-6 fw-bold text-muted">
                <div>{{'BBL000040'|translate}}</div>
              </div>
              <div class="col-md-6 text-muted">
                <div>N/A</div>
              </div>
            </div>

            <!-- Status -->
            <div class="row mb-2">
              <div class="col-md-6 fw-bold text-muted">
                <div>{{'BBL000041'|translate}}</div>
              </div>
              <div class="col-md-6 text-muted">
                <div>N/A</div>
              </div>
            </div>

            <!-- Product -->
            <div class="row mb-2">
              <div class="col-md-6 fw-bold text-muted">
                <div>{{'BBL000042'|translate}}</div>
              </div>
              <div class="col-md-6 text-muted">
                <div>OFFERNOKYC</div>
              </div>
            </div>

            <!-- Sol Id -->
            <div class="row mb-2">
              <div class="col-md-6 fw-bold text-muted">
                <div>{{'BBL000043'|translate}}</div>
              </div>
              <div class="col-md-6 text-muted">
                <div>N/A</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FORM DETAILS -->
    <div class="col-8 ms-3">
      <form [formGroup]="cashDeposit">
        <div class="form-group mt-1">
          <!-- ACCOUNT NUMBER -->
          <div>
            <label for="accountNo" class="form-label text-muted fw-bold fs-5 mb-0">{{ 'BBL000002' | translate }}</label>
            <input type="text" class="form-control border-2" id="accountNo" formControlName="accountNo" required
              [class.is-invalid]="accountNo.touched && accountNo.invalid" />
            <div *ngIf="accountNo.touched && accountNo.hasError('required')" class="invalid-feedback">{{ 'BBL000008' |
              translate }}</div>
          </div>

          <!-- DEPOSIT AMOUNT -->
          <div class="mt-4">
            <label for="depositAmount" class="form-label text-muted fw-bold fs-5 mb-0">{{ 'BBL000003' | translate
              }}</label>
            <input type="text" class="form-control border-2" id="depositAmount" formControlName="depositAmount" required
              [class.is-invalid]="depositAmount.touched && depositAmount.invalid" />
            <div *ngIf="depositAmount.touched && depositAmount.hasError('required')" class="invalid-feedback"> {{
              'BBL000009' | translate }}</div>
          </div>
          <div class="d-flex mt-4">
            <!-- SOURCE OF FUND -->
            <div class="col-6 pe-1">
              <label for="sourceOfFund" class="form-label text-muted fw-bold fs-5 mb-0">{{ 'BBL000004' | translate
                }}</label>
              <input type="text" class="form-control border-2" id="sourceOfFund" formControlName="sourceOfFund" required
                [class.is-invalid]="sourceOfFund.touched && sourceOfFund.invalid" />
              <div *ngIf="sourceOfFund.touched && sourceOfFund.hasError('required')" class="invalid-feedback"> {{
                'BBL000010' | translate }}</div>
            </div>
            <!-- TRANSACTION PARTICULAR -->
            <div class="col-6 ps-1">
              <label for="tranPart" class="form-label text-muted fw-bold fs-5 mb-0">{{ 'BBL000005' | translate
                }}</label>
              <input type="text" class="form-control border-2" id="tranPart" formControlName="tranPart" required
                [class.is-invalid]="tranPart.touched && tranPart.invalid" />
              <div *ngIf="tranPart.touched && tranPart.hasError('required')" class="invalid-feedback">{{ 'BBL000011' |
                translate }}</div>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>



  <!-- BUTTONS -->

  <div class="d-flex flex-row-reverse mt-5">

    <!-- PROCEED BUTTON -->
    <button type="button" class="btn btn-primary">
      <div class="d-flex align-items-center justify-content-center gap-1">
        {{ 'BBL000102' | translate }}
        <i class="ti ti-check fs-3"></i>
      </div>
    </button>
    <!-- RESET BUTTON -->
    <button type="button" class="btn btn-warning mx-2">
      <div class="d-flex align-items-center justify-content-center gap-1">
        {{ 'BBL000101' | translate }}
        <i class="ti ti-refresh fs-3"></i>
      </div>
    </button>
    <!-- BACK BUTTON -->
    <button type="button" class="btn btn-secondary">
      <div class="d-flex align-items-center justify-content-center gap-1">
        <i class="ti ti-arrow-left fs-3"></i>
        {{ 'BBL000100' | translate }}
      </div>
    </button>


  </div>
</div>