<div class="container mx-auto mt-3">

    <div class="d-flex justify-content-between align-items-center ">
        <div class="card-header fw-bold text-muted fs-4">Transaction Details</div>
        <div><mat-icon>keyboard_backspace</mat-icon></div>
    </div>

    <div class="card-body border-top border-primary-subtle">
        <form [formGroup]="transactionForm">
            <div class="mx-4">
                <div class="mt-3 mb-2">
                    <select class="form-select" aria-label="institutionName" 
                    formControlName="institutionName"  
                    [class.is-invalid]="transactionForm.get('institutionName').invalid
                    && transactionForm.get('institutionName').touched">
        
                        <option value="" disabled selected hidden>Institution Name</option>
                        <option value="BracU">BRAC U</option>
                        <option value="Nsu">NSU</option>
                        <option value="Aiub">AIUB</option>
                    </select>

                    <div class="invalid-feedback"
                    *ngIf="transactionForm.get('institutionName').hasError('required')
                    &&  transactionForm.get('institutionName').touched ">
                    Please Select Institution Name
                    </div>
                </div>
        
                <div class="d-flex justify-content-center align-items-center my-3">
                    <div class="fs-5 fw-bold text-muted">Payment Mode </div>
                    <div>
                       <mat-radio-group [(ngModel)]="selectedOption">
                        <mat-radio-button value="cash" (change)="onRadioChange('cash')" >Cash</mat-radio-button>
                        <mat-radio-button value="accountPay" (change)="onRadioChange('accountPay')">Account Pay</mat-radio-button>
                       </mat-radio-group>
                   </div>
                </div>
                  
            </div>

            
        <!-- ACCOUNT PAY SECTION STARTS -->
            <div class="row" *ngIf="accountPaySelection">
                <div class="col-md-6 px-5">
                    <div class="row mb-3" >
                        
                        <label for="accountNumber" class="form-label"></label>
                            <input type="text" class="form-control" id="accountNumber"
                                formControlName="accountNumber"
                                placeholder="Account Number"
                                [class.is-invalid]="transactionForm.get('accountNumber').invalid
                                && transactionForm.get('accountNumber').touched" />
                            <div class="invalid-feedback"
                                *ngIf="transactionForm.get('accountNumber').hasError('required')
                                &&  transactionForm.get('accountNumber').touched ">
                                Please enter Account Number
                            </div>
                        
                    </div>

                    <div class="row mb-3" >
                        
                        <label for="accountTitle" class="form-label"></label>
                            <input type="text" class="form-control" id="accountTitle"
                                formControlName="accountTitle"
                                placeholder="Account Title"
                                [class.is-invalid]="transactionForm.get('accountTitle').invalid
                                && transactionForm.get('accountTitle').touched" />
                            <div class="invalid-feedback"
                                *ngIf="transactionForm.get('accountTitle').hasError('required')
                                &&  transactionForm.get('accountTitle').touched ">
                                Please enter Account Title
                            </div>
                        
                    </div>
                </div>

                <!-- CUSTOMER DETAILS CARD -->
                <div class="col-md-6 px-5">
                        <div class="card shadow-none border border-1">
                            <div class="card-header fs-4 fw-bold text-muted">
                                Customer Details
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 fw-bold text-muted">
                                        <div>Customer Id</div>
                                        <div>Mobile</div>
                                        <div>Name</div>
                                        <div>Email</div>
                                        <div>Account Type</div>
                                        <div>Status</div>
                                        <div>Product</div>
                                        <div>Sol Id</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>NULL</div>
                                        <div>015********</div>
                                        <div>NULL</div>
                                        <div>something247@gmail.com</div>
                                        <div>NULL</div>
                                        <div>NULL</div>
                                        <div>OFFERNOKYC</div>
                                        <div>NULL</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

            </div>
        <!-- ACCOUNT PAY SECTION ENDS -->


        <!-- CASH SECTION STARTS -->

            <div class="row" >    
                <!-- FIRST COLUMN START-->
                <div class="col-md-6 px-5">
                    
                    
                    <div class="row mb-3">
                        
                            <label for="studentName" class="form-label"></label>
                                <input type="text" class="form-control" id="studentName"
                                    formControlName="studentName"
                                    placeholder="Student Name"
                                    [class.is-invalid]="transactionForm.get('studentName').invalid
                                    && transactionForm.get('studentName').touched" />
                                <div class="invalid-feedback"
                                    *ngIf="transactionForm.get('studentName').hasError('required')
                                    &&  transactionForm.get('studentName').touched ">
                                    Please enter Student Name
                            </div>
                            
                    </div>

                    <div class="row mb-3">
                        
                            <label for="rollNumber" class="form-label"></label>
                                <input type="text" class="form-control" id="rollNumber"
                                    formControlName="rollNumber"
                                    placeholder="Roll Number"
                                    [class.is-invalid]="transactionForm.get('rollNumber').invalid
                                    && transactionForm.get('rollNumber').touched" />
                                <div class="invalid-feedback"
                                    *ngIf="transactionForm.get('rollNumber').hasError('required')
                                    &&  transactionForm.get('rollNumber').touched ">
                                    Please enter Roll Number
                                </div>
                            
                    </div>

                    <div class="row mb-3 mt-4">
                        <select class="form-select" aria-label="section" formControlName="section"
                        [class.is-invalid]="transactionForm.get('section').invalid
                                && transactionForm.get('section').touched" >
            
                            <option value="" disabled selected >Section</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                        </select>

                        <div class="invalid-feedback"
                                    *ngIf="transactionForm.get('section').hasError('required')
                                    &&  transactionForm.get('section').touched ">
                                    Please Select Section
                        </div>
                    </div>

                    <div class="row mb-3">
                        
                        <label for="examFee" class="form-label"></label>
                            <input type="text" class="form-control" id="examFee"
                                formControlName="examFee"
                                placeholder="Exam Fee"
                                [class.is-invalid]="transactionForm.get('examFee').invalid
                                && transactionForm.get('examFee').touched" />
                            <div class="invalid-feedback"
                                *ngIf="transactionForm.get('examFee').hasError('required')
                                &&  transactionForm.get('examFee').touched ">
                                Please enter Exam Fee
                        </div>
                        
                </div>

                    <div class="row mb-3">
                        
                        <label for="registrationFee" class="form-label"></label>
                            <input type="text" class="form-control" id="registrationFee"
                                formControlName="registrationFee"
                                placeholder="Registration Fee"
                                [class.is-invalid]="transactionForm.get('registrationFee').invalid
                                && transactionForm.get('registrationFee').touched" />
                            <div class="invalid-feedback"
                                *ngIf="transactionForm.get('registrationFee').hasError('required')
                                &&  transactionForm.get('registrationFee').touched ">
                                Please enter Registration Fee
                        </div>
                        
                    </div>

                    <div class="row mb-3">
                        
                        <label for="libraryFee" class="form-label"></label>
                            <input type="text" class="form-control" id="libraryFee"
                                formControlName="libraryFee"
                                placeholder="Library Fee"
                                [class.is-invalid]="transactionForm.get('libraryFee').invalid
                                && transactionForm.get('libraryFee').touched" />
                            <div class="invalid-feedback"
                                *ngIf="transactionForm.get('libraryFee').hasError('required')
                                &&  transactionForm.get('libraryFee').touched ">
                                Please enter Library Fee
                        </div>
                        
                    </div>

                    <div class="row mb-3">
                        
                        <label for="transportationFee" class="form-label"></label>
                            <input type="text" class="form-control" id="transportationFee"
                                formControlName="transportationFee"
                                placeholder="Transportation Fee"
                                [class.is-invalid]="transactionForm.get('transportationFee').invalid
                                && transactionForm.get('transportationFee').touched" />
                            <div class="invalid-feedback"
                                *ngIf="transactionForm.get('transportationFee').hasError('required')
                                &&  transactionForm.get('transportationFee').touched ">
                                Please enter Library Fee
                        </div>
                        
                    </div>
               
                    <div class="row mb-3">
                        
                        <label for="stationFee" class="form-label"></label>
                            <input type="text" class="form-control" id="stationFee"
                                formControlName="stationFee"
                                placeholder="Station Fee"
                                [class.is-invalid]="transactionForm.get('stationFee').invalid
                                && transactionForm.get('stationFee').touched" />
                            <div class="invalid-feedback"
                                *ngIf="transactionForm.get('stationFee').hasError('required')
                                &&  transactionForm.get('stationFee').touched ">
                                Please enter Station Fee
                        </div>
                        
                    </div>

                    <div class="row mb-3">
                        
                        <label for="lateFee" class="form-label"></label>
                            <input type="text" class="form-control" id="lateFee"
                                formControlName="lateFee"
                                placeholder="Late Fee"
                                [class.is-invalid]="transactionForm.get('lateFee').invalid
                                && transactionForm.get('lateFee').touched" />
                            <div class="invalid-feedback"
                                *ngIf="transactionForm.get('lateFee').hasError('required')
                                &&  transactionForm.get('lateFee').touched ">
                                Please enter Late Fee
                        </div>
                        
                    </div>

                    <div class="row mb-3">
                        
                        <label for="labFee" class="form-label"></label>
                            <input type="text" class="form-control" id="labFee"
                                formControlName="labFee"
                                placeholder="Lab Fee"
                                [class.is-invalid]="transactionForm.get('labFee').invalid
                                && transactionForm.get('labFee').touched" />
                            <div class="invalid-feedback"
                                *ngIf="transactionForm.get('labFee').hasError('required')
                                &&  transactionForm.get('labFee').touched ">
                                Please enter Lab Fee
                        </div>
                        
                    </div>

                    <div class="row mb-3">
                        
                        <label for="welfareFee" class="form-label"></label>
                            <input type="text" class="form-control" id="welfareFee"
                                formControlName="welfareFee"
                                placeholder="Welfare Fee"
                                [class.is-invalid]="transactionForm.get('welfareFee').invalid
                                && transactionForm.get('welfareFee').touched" />
                            <div class="invalid-feedback"
                                *ngIf="transactionForm.get('welfareFee').hasError('required')
                                &&  transactionForm.get('welfareFee').touched ">
                                Please enter Welfare Fee
                        </div>
                        
                    </div>

                    <div class="row mb-3 mt-4">
                        <select class="form-select" aria-label="billMonth"
                        formControlName="billMonth"  
                        [class.is-invalid]="transactionForm.get('billMonth').invalid
                        && transactionForm.get('billMonth').touched" >
            
                            <option value="" disabled selected>Bill Month</option>
                            <option value="january">January</option>
                            <option value="february">February</option>
                            <option value="march">March</option>
                        </select>

                        <div class="invalid-feedback"
                                    *ngIf="transactionForm.get('billMonth').hasError('required')
                                    &&  transactionForm.get('billMonth').touched ">
                                    Please Select Bill Month
                        </div>
                    </div>

                    <div class="row mb-3">
                        
                        <label for="totalPaymentAmount" class="form-label"></label>
                            <input type="text" class="form-control" id="totalPaymentAmount"
                                formControlName="totalPaymentAmount"
                                placeholder="Total Payment Amount"
                                [class.is-invalid]="transactionForm.get('totalPaymentAmount').invalid
                                && transactionForm.get('totalPaymentAmount').touched" />
                            <div class="invalid-feedback"
                                *ngIf="transactionForm.get('welfareFee').hasError('required')
                                &&  transactionForm.get('totalPaymentAmount').touched ">
                                Please enter Total Payment Amount
                        </div>
                        
                    </div>

                    <div class="row mb-3">
                        
                        <label for="transactionParticulars" class="form-label"></label>
                            <input type="text" class="form-control" id="transactionParticulars"
                                formControlName="transactionParticulars"
                                placeholder="Transaction Particulars"
                                [class.is-invalid]="transactionForm.get('transactionParticulars').invalid
                                && transactionForm.get('transactionParticulars').touched" />
                            <div class="invalid-feedback"
                                *ngIf="transactionForm.get('welfareFee').hasError('required')
                                &&  transactionForm.get('transactionParticulars').touched ">
                                Please enter Transaction Particulars
                        </div>
                        
                    </div>
               

                </div>

                <!-- FIRST COLUMN END -->


                <!-- SECOND COLUMN START -->

                <div class="col-md-6 px-5">
        
                    <div class="row mb-3">
                        
                        <label for="mobileNumber" class="form-label"></label>
                            <input type="text" class="form-control" id="mobileNumber"
                                formControlName="mobileNumber"
                                placeholder="Mobile Number"
                                [class.is-invalid]="transactionForm.get('mobileNumber').invalid
                                && transactionForm.get('mobileNumber').touched" />
                            <div class="invalid-feedback"
                                *ngIf="transactionForm.get('mobileNumber').hasError('required')
                                &&  transactionForm.get('mobileNumber').touched ">
                                Please enter Mobile Number
                        </div>
                        
                    </div> 

                    <div class="row mb-3 mt-4">
                        <select class="form-select" aria-label="class" 
                        formControlName="class"  
                    [class.is-invalid]="transactionForm.get('class').invalid
                    && transactionForm.get('class').touched" >
            
                            <option value="" disabled selected hidden>Class</option>
                            <option value="X">X</option>
                            <option value="XI">XI</option>
                            <option value="XII">XII</option>
                        </select>

                        <div class="invalid-feedback"
                                    *ngIf="transactionForm.get('class').hasError('required')
                                    &&  transactionForm.get('class').touched ">
                                    Please Select Class
                        </div>
                    </div>

                    <div class="row mb-3 mt-4">
                        <select class="form-select" aria-label="sessionSemester"  
                        formControlName="sessionSemester"  
                        [class.is-invalid]="transactionForm.get('sessionSemester').invalid
                        && transactionForm.get('sessionSemester').touched" >
            
                            <option value="" disabled selected hidden>Session / Semester</option>
                            <option value="Q1">Q1</option>
                            <option value="Q2">Q2</option>
                            <option value="Q3">Q3</option>
                        </select>

                        <div class="invalid-feedback"
                                    *ngIf="transactionForm.get('sessionSemester').hasError('required')
                                    &&  transactionForm.get('sessionSemester').touched ">
                                    Please Select Session / Semester
                        </div>
                    </div>

                    <div class="row mb-3">
                        
                        <label for="tuitionFee" class="form-label"></label>
                            <input type="text" class="form-control" id="tuitionFee"
                                formControlName="tuitionFee"
                                placeholder="Tuition Fee"
                                [class.is-invalid]="transactionForm.get('tuitionFee').invalid
                                && transactionForm.get('tuitionFee').touched" />
                            <div class="invalid-feedback"
                                *ngIf="transactionForm.get('tuitionFee').hasError('required')
                                &&  transactionForm.get('tuitionFee').touched ">
                                Please enter Tuition Fee
                        </div>
                        
                    </div>

                    <div class="row mb-3">
                        
                        <label for="medicalFee" class="form-label"></label>
                            <input type="text" class="form-control" id="medicalFee"
                                formControlName="medicalFee"
                                placeholder="Medical Fee"
                                [class.is-invalid]="transactionForm.get('medicalFee').invalid
                                && transactionForm.get('medicalFee').touched" />
                            <div class="invalid-feedback"
                                *ngIf="transactionForm.get('medicalFee').hasError('required')
                                &&  transactionForm.get('medicalFee').touched ">
                                Please enter Medical Fee
                        </div>
                        
                    </div>

                    <div class="row mb-3">
                        
                        <label for="admissionFee" class="form-label"></label>
                            <input type="text" class="form-control" id="admissionFee"
                                formControlName="admissionFee"
                                placeholder="Admission Fee"
                                [class.is-invalid]="transactionForm.get('admissionFee').invalid
                                && transactionForm.get('admissionFee').touched" />
                            <div class="invalid-feedback"
                                *ngIf="transactionForm.get('admissionFee').hasError('required')
                                &&  transactionForm.get('admissionFee').touched ">
                                Please enter Admission Fee
                        </div>
                        
                    </div>
                    
                    <div class="row mb-3">
                        
                        <label for="developementFee" class="form-label"></label>
                            <input type="text" class="form-control" id="admissionFee"
                                formControlName="developementFee"
                                placeholder="Developement Fee"
                                [class.is-invalid]="transactionForm.get('developementFee').invalid
                                && transactionForm.get('developementFee').touched" />
                            <div class="invalid-feedback"
                                *ngIf="transactionForm.get('developementFee').hasError('required')
                                &&  transactionForm.get('developementFee').touched ">
                                Please enter Developement Fee
                        </div>
                        
                    </div>

                    <div class="row mb-3">
                        
                        <label for="securityFee" class="form-label"></label>
                            <input type="text" class="form-control" id="securityFee"
                                formControlName="securityFee"
                                placeholder="Security Fee"
                                [class.is-invalid]="transactionForm.get('securityFee').invalid
                                && transactionForm.get('securityFee').touched" />
                            <div class="invalid-feedback"
                                *ngIf="transactionForm.get('securityFee').hasError('required')
                                &&  transactionForm.get('securityFee').touched ">
                                Please enter Security Fee
                        </div>
                        
                    </div>

                    <div class="row mb-3">
                        
                        <label for="recreationFee" class="form-label"></label>
                            <input type="text" class="form-control" id="recreationFee"
                                formControlName="recreationFee"
                                placeholder="Recreation Fee"
                                [class.is-invalid]="transactionForm.get('recreationFee').invalid
                                && transactionForm.get('recreationFee').touched" />
                            <div class="invalid-feedback"
                                *ngIf="transactionForm.get('recreationFee').hasError('required')
                                &&  transactionForm.get('recreationFee').touched ">
                                Please enter Recreation Fee
                        </div>
                        
                    </div>

                    <div class="row mb-3">
                        
                        <label for="sportsFee" class="form-label"></label>
                            <input type="text" class="form-control" id="sportsFee"
                                formControlName="sportsFee"
                                placeholder="Sports Fee"
                                [class.is-invalid]="transactionForm.get('sportsFee').invalid
                                && transactionForm.get('sportsFee').touched" />
                            <div class="invalid-feedback"
                                *ngIf="transactionForm.get('sportsFee').hasError('required')
                                &&  transactionForm.get('sportsFee').touched ">
                                Please enter Sports Fee
                        </div>
                        
                    </div>

                    <div class="row mb-3">
                        
                        <label for="cultureFee" class="form-label"></label>
                            <input type="text" class="form-control" id="cultureFee"
                                formControlName="cultureFee"
                                placeholder="Culture Fee"
                                [class.is-invalid]="transactionForm.get('cultureFee').invalid
                                && transactionForm.get('cultureFee').touched" />
                            <div class="invalid-feedback"
                                *ngIf="transactionForm.get('cultureFee').hasError('required')
                                &&  transactionForm.get('cultureFee').touched ">
                                Please enter Culture Fee
                            </div>
                        
                    </div>

                    <div class="row mb-3 mt-4">
                        <select class="form-select" aria-label="billYear" 
                        formControlName="billYear"  
                        [class.is-invalid]="transactionForm.get('billYear').invalid
                        && transactionForm.get('billYear').touched" >
            
                            <option value="" disabled selected hidden>Bill Year</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                        </select>

                        <div class="invalid-feedback"
                                    *ngIf="transactionForm.get('billYear').hasError('required')
                                    &&  transactionForm.get('billYear').touched ">
                                    Please Select Bill Year
                        </div>
                    </div>

                    <div class="row mb-3">
                        
                        <label for="receiptNumber" class="form-label"></label>
                            <input type="text" class="form-control" id="receiptNumber"
                                formControlName="receiptNumber"
                                placeholder="Receipt Number"
                                [class.is-invalid]="transactionForm.get('receiptNumber').invalid
                                && transactionForm.get('receiptNumber').touched" />
                            <div class="invalid-feedback"
                                *ngIf="transactionForm.get('receiptNumber').hasError('required')
                                &&  transactionForm.get('receiptNumber').touched ">
                                Please enter Receipt Number
                            </div>
                        
                    </div>

                    <div class="row mb-3">
                        
                        <label for="transactionRemarks" class="form-label"></label>
                            <input type="text" class="form-control" id="transactionRemarks"
                                formControlName="transactionRemarks"
                                placeholder="Transaction Remarks"
                                [class.is-invalid]="transactionForm.get('transactionRemarks').invalid
                                && transactionForm.get('transactionRemarks').touched" />
                            <div class="invalid-feedback"
                                *ngIf="transactionForm.get('transactionRemarks').hasError('required')
                                &&  transactionForm.get('transactionRemarks').touched ">
                                Please enter Transaction Remarks
                            </div>
                        
                    </div>

                </div>
                <!-- SECOND COLUMN END -->
            </div>

        <!-- CASH SECTION ENDS -->


            <div class="d-flex justify-content-end mt-5 mx-4">
                <button class="bg-transparent  border-secondary-subtle border-1 mx-2 rounded">Refresh</button>
                <button class="bg-transparent  border-secondary-subtle border-1 rounded">Proceed</button>
            </div>

        </form>
       
    </div>

</div>
