<div class="container">
  <!-- HEADER TEXT -->
  <div class="border-bottom">
    <h2 class="text-primary fw-bold my-4">{{ 'BBL000001' | translate | uppercase }}</h2>
  </div>

  <div class="col-8">
    <form [formGroup]="loanDisb">
      <div class="form-group mt-4">
        <label for="linkAccNo" class="form-label text-muted fw-bold fs-5 mb-0">{{ 'BBL000017' | translate }}</label>
        <input type="text" class="form-control border-2" id="linkAccNo" formControlName="linkAccNo" required
          [class.is-invalid]="linkAccNo.touched && linkAccNo.invalid" />
        <div *ngIf="linkAccNo.touched && linkAccNo.hasError('required')" class="invalid-feedback">{{ 'BBL000018' |
          translate }}</div>
      </div>
    </form>
  </div>

  <!-- BUTTONS -->
  <div class="d-flex flex-row-reverse mt-5">

    <!-- PROCEED BUTTON -->
    <button type="button" class="btn btn-primary">
      <div class="d-flex align-items-center justify-content-center gap-1">
        {{ 'BBL000102' | translate }}
        <i class="ti ti-check fs-3"></i>
      </div>
    </button>
    <!-- RESET BUTTON -->
    <button type="button" class="btn btn-warning mx-2">
      <div class="d-flex align-items-center justify-content-center gap-1">
        {{ 'BBL000101' | translate }}
        <i class="ti ti-refresh fs-3"></i>
      </div>
    </button>
    <!-- BACK BUTTON -->
    <button type="button" class="btn btn-secondary">
      <div class="d-flex align-items-center justify-content-center gap-1">
        <i class="ti ti-arrow-left fs-3"></i>
        {{ 'BBL000100' | translate }}
      </div>
    </button>


  </div>

</div>