.footer {
    flex-shrink: 1;
    padding: 10px;
    text-align: center;
    width: 100%; 
    position: relative;
    bottom: 0; 
  }

  footer{
    background-color: #ffffff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}