<div class="container">
  <!-- HEADER TEXT -->
  <div class="border-bottom">
    <h2 class="text-primary fw-bold my-4">{{'TRANS_DETAILS'| translate | uppercase}}</h2>
  </div>
  <div class="row mt-4">
    <!-- CUSTOMER DETAILS -->
    <div class="col-3 mt-1 ">
      <div class="border-end pe-2">
        <div class="border-bottom">
          <h4 class="card-title text-muted fw-bold mb-2">{{ 'CUSTOMER_DETAILS' | translate | uppercase }}</h4>
        </div>
        <div>
          <div class="mt-2">
            <!-- Customer Id -->
            <div class="row mb-2">
              <div class="col-md-6 fw-bold text-muted">
                <div>{{'CUSTOMER_ID'|translate}}</div>
              </div>
              <div class="col-md-6">
                <div>N/A</div>
              </div>
            </div>

            <!-- Mobile -->
            <div class="row mb-2">
              <div class="col-md-6 fw-bold text-muted">
                <div>{{'MOBILE'|translate}}</div>
              </div>
              <div class="col-md-6">
                <div>015********</div>
              </div>
            </div>

            <!-- Account Title -->
            <div class="row mb-2">
              <div class="col-md-6 fw-bold text-muted">
                <div>{{'ACCOUNT_TITLE'|translate}}</div>
              </div>
              <div class="col-md-6">
                <div>N/A</div>
              </div>
            </div>

            <!-- Email -->
            <div class="row mb-2">
              <div class="col-md-6 fw-bold text-muted">
                <div>{{'EMAIL'|translate}}</div>
              </div>
              <div class="col-md-6">
                <div>something2247@gmail.com</div>
              </div>
            </div>

            <!-- Account Type -->
            <div class="row mb-2">
              <div class="col-md-6 fw-bold text-muted">
                <div>{{'ACCOUNT_TYPE'|translate}}</div>
              </div>
              <div class="col-md-6">
                <div>N/A</div>
              </div>
            </div>

            <!-- Account Status -->
            <div class="row mb-2">
              <div class="col-md-6 fw-bold text-muted">
                <div>{{'ACCOUNT_STATUS'|translate}}</div>
              </div>
              <div class="col-md-6">
                <div>N/A</div>
              </div>
            </div>

            <!-- Offer -->
            <div class="row mb-2">
              <div class="col-md-6 fw-bold text-muted">
                <div>{{'OFFER'|translate}}</div>
              </div>
              <div class="col-md-6">
                <div>Subscriber</div>
              </div>
            </div>

            <!-- Sol Id -->
            <div class="row mb-2">
              <div class="col-md-6 fw-bold text-muted">
                <div>{{'SOL_ID'|translate}}</div>
              </div>
              <div class="col-md-6">
                <div>N/A</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FORM DETAILS -->
    <div class="col-8 ms-3">
      <form [formGroup]="transactionForm">
        <div>
          <!-- Customer Account Number -->
          <label for="accNumCustomer" class="form-label fw-bold fs-5 mb-0">
            {{'ACCOUNT_NO'|translate}}
          </label>
          <input type="text" class="form-control border-2" id="accNumCustomer" formControlName="accNumCustomer"
            [class.is-invalid]="transactionForm.get('accNumCustomer').invalid && transactionForm.get('accNumCustomer').touched" />
          <div class="invalid-feedback"
            *ngIf="transactionForm.get('accNumCustomer').hasError('required') &&  transactionForm.get('accNumCustomer').touched ">
            {{'ACCOUNT_NO_REQ_ERR'|translate}}
          </div>

          <!-- ACCOUNT NUMBER OF 13/16 DIGITS ERROR  -->
          <div *ngIf="transactionForm.get('accNumCustomer').hasError('maxLength')" class="invalid-feedback">
            {{'ACCOUNT_NO_LENGTH_ERR' | translate }}
          </div>

          <div class="row mt-4">
            <div class="col-6">
              <!-- Beneficiary Mobile No -->
              <label for="beneficiaryMobileNo" class="form-label fw-bold fs-5 mb-0">
                {{'BENEFICIARY_MOBILE_NO'|translate}}
              </label>
              <input type="text" class="form-control border-2" id="beneficiaryMobileNo"
                formControlName="beneficiaryMobileNo"
                [class.is-invalid]="transactionForm.get('beneficiaryMobileNo').invalid && transactionForm.get('beneficiaryMobileNo').touched" />
              <div class="invalid-feedback"
                *ngIf="transactionForm.get('beneficiaryMobileNo').hasError('required') &&  transactionForm.get('beneficiaryMobileNo').touched ">
                {{'BENEFICIARY_MOBILE_NO_REQ_ERR'|translate}}
              </div>
            </div>
            <div class="col-6">
              <!-- Beneficiary Name -->
              <label for="beneficiaryName" class="form-label fw-bold fs-5 mb-0">
                {{'GENERATE_FAC_BENEFICIARY_NAME' | translate}}
              </label>
              <input type="text" class="form-control border-2" id="beneficiaryName" formControlName="beneficiaryName"
                [class.is-invalid]="transactionForm.get('beneficiaryName').invalid && transactionForm.get('beneficiaryName').touched" />
              <div class="invalid-feedback"
                *ngIf="transactionForm.get('beneficiaryName').hasError('required') &&  transactionForm.get('beneficiaryName').touched ">
                {{'GENERATE_FAC_BENEFICIARY_NAME_REQ_ERR' | translate}}
              </div>
            </div>
          </div>


          <div class="row mt-4">
            <div class="col-6">
              <!-- Amount -->
              <label for="amount" class="form-label fw-bold fs-5 mb-0">
                {{'AMOUNT'|translate}}
              </label>
              <input 
                type="text" 
                class="form-control border-2 right-input" 
                id="amount" 
                formControlName="amount"
                (input)="onInput($event)"
                (blur)="onBlur($event)"
                [class.is-invalid]="transactionForm.get('amount').invalid && transactionForm.get('amount').touched" />
              <div class="invalid-feedback"
                *ngIf="transactionForm.get('amount').hasError('required') &&  transactionForm.get('amount').touched ">
                {{'AMOUNT_REQ_ERR' | translate}}
              </div>
            </div>
            <div class="col-6">
              <!-- Transaction Particular -->
              <label for="transactionParticular" class="form-label fw-bold fs-5 mb-0">
                {{'TRANS_PARTICULAR'|translate}}
              </label>
              <input type="text" class="form-control border-2" id="transactionParticular"
                formControlName="transactionParticular"
                [class.is-invalid]="transactionForm.get('transactionParticular').invalid && transactionForm.get('transactionParticular').touched" />
              <div class="invalid-feedback"
                *ngIf="transactionForm.get('transactionParticular').hasError('required') &&  transactionForm.get('transactionParticular').touched ">
                {{'TRANS_PARTICULAR_ERR' | translate}}
              </div>
            </div>
          </div>


          <div class="row mt-4">
            <div class="col-12">
              <!-- Transaction Remarks -->
              <label for="transactionRemarks" class="form-label fw-bold fs-5 mb-0">
                {{'TRANS_REMARKS'|translate}}
              </label>
              <input type="text" class="form-control border-2" id="transactionRemarks"
                formControlName="transactionRemarks"
                [class.is-invalid]="transactionForm.get('transactionRemarks').invalid && transactionForm.get('transactionRemarks').touched" />
              <div class="invalid-feedback"
                *ngIf="transactionForm.get('transactionRemarks').hasError('required') &&  transactionForm.get('transactionRemarks').touched ">
                {{'TRANS_REMARKS_ERR' | translate}}
              </div>
            </div>
          </div>

        </div>
        <!-- BUTTONS -->
        <div class="d-flex flex-row-reverse mt-5">

          <!-- PROCEED BUTTON -->
          <button type="button" class="btn btn-primary" (click)="onProceed()">
            <div class="d-flex align-items-center justify-content-center gap-1">
              {{ 'BUTTON_PROCEED' | translate }}
              <i class="ti ti-check fs-3"></i>
            </div>
          </button>
          <!-- RESET BUTTON -->
          <button type="button" class="btn btn-warning mx-2" (click)="onReset()">
            <div class="d-flex align-items-center justify-content-center gap-1">
              {{ 'BUTTON_RESET' | translate }}
              <i class="ti ti-refresh fs-3"></i>
            </div>
          </button>


        </div>
      </form>
    </div>

  </div>
</div>