<div class="container">
    <!-- HEADER TEXT -->
    <div class="border-bottom">
        <h2 class="text-primary fw-bold my-4">{{'BBL000001'|translate|uppercase}}</h2>
    </div>
    <div class="row mt-4">
        <!-- CUSTOMER DETAILS -->
        <div class="col-3 mt-1">
            <div class=" border-end border-1">
                <div class="border-bottom">
                    <h4 class="card-title text-muted fw-bold mb-2">{{ 'BBL000006' | translate | uppercase }}</h4>
                </div>
                <div>
                    <div class="mt-2">
                        <!-- Customer Id -->
                        <div class="row mb-2">
                            <div class="col-md-6 fw-bold text-muted">
                                <div>{{'BBL000036'|translate}}</div>
                            </div>
                            <div class="col-md-6 text-muted">
                                <div>N/A</div>
                            </div>
                        </div>

                        <!-- Mobile -->
                        <div class="row mb-2">
                            <div class="col-md-6 fw-bold text-muted">
                                <div>{{'BBL000037'|translate}}</div>
                            </div>
                            <div class="col-md-6 text-muted">
                                <div>015********</div>
                            </div>
                        </div>

                        <!-- Name -->
                        <div class="row mb-2">
                            <div class="col-md-6 fw-bold text-muted">
                                <div>{{'BBL000038'|translate}}</div>
                            </div>
                            <div class="col-md-6 text-muted">
                                <div>N/A</div>
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="row mb-2">
                            <div class="col-md-6 fw-bold text-muted">
                                <div>{{'BBL000039'|translate}}</div>
                            </div>
                            <div class="col-md-6 text-muted">
                                <div>something247@gmail.com</div>
                            </div>
                        </div>

                        <!-- Account Type -->
                        <div class="row mb-2">
                            <div class="col-md-6 fw-bold text-muted">
                                <div>{{'BBL000040'|translate}}</div>
                            </div>
                            <div class="col-md-6 text-muted">
                                <div>N/A</div>
                            </div>
                        </div>

                        <!-- Status -->
                        <div class="row mb-2">
                            <div class="col-md-6 fw-bold text-muted">
                                <div>{{'BBL000041'|translate}}</div>
                            </div>
                            <div class="col-md-6 text-muted">
                                <div>N/A</div>
                            </div>
                        </div>

                        <!-- Product -->
                        <div class="row mb-2">
                            <div class="col-md-6 fw-bold text-muted">
                                <div>{{'BBL000042'|translate}}</div>
                            </div>
                            <div class="col-md-6 text-muted">
                                <div>OFFERNOKYC</div>
                            </div>
                        </div>

                        <!-- Sol Id -->
                        <div class="row mb-2">
                            <div class="col-md-6 fw-bold text-muted">
                                <div>{{'BBL000043'|translate}}</div>
                            </div>
                            <div class="col-md-6 text-muted">
                                <div>N/A</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FORM DETAILS -->
        <div class="col-8 ms-3">
            <form [formGroup]="transactionForm">
                <div>
                    <!-- Customer Account Number -->
                    <label for="accNumCustomer" class="form-label text-muted fw-bold fs-5 mb-0">
                        {{'BBL000026'|translate}}
                    </label>
                    <input type="text" class="form-control border-2" id="accNumCustomer"
                        formControlName="accNumCustomer"
                        [class.is-invalid]="transactionForm.get('accNumCustomer').invalid && transactionForm.get('accNumCustomer').touched" />
                    <div class="invalid-feedback"
                        *ngIf="transactionForm.get('accNumCustomer').hasError('required') &&  transactionForm.get('accNumCustomer').touched ">
                        {{'BBL000027'|translate}}
                    </div>

                    <div class="row mt-4">
                        <div class="col-6">
                            <!-- Beneficiary Mobile No -->
                            <label for="beneficiaryMobileNo" class="form-label text-muted fw-bold fs-5 mb-0">
                                {{'BBL000028'|translate}}
                            </label>
                            <input type="text" class="form-control border-2" id="beneficiaryMobileNo"
                                formControlName="beneficiaryMobileNo"
                                [class.is-invalid]="transactionForm.get('beneficiaryMobileNo').invalid && transactionForm.get('beneficiaryMobileNo').touched" />
                            <div class="invalid-feedback"
                                *ngIf="transactionForm.get('beneficiaryMobileNo').hasError('required') &&  transactionForm.get('beneficiaryMobileNo').touched ">
                                {{'BBL000029'|translate}}
                            </div>
                        </div>
                        <div class="col-6">
                            <!-- Beneficiary Name -->
                            <label for="beneficiaryName" class="form-label text-muted fw-bold fs-5 mb-0">
                                {{'BBL000030' | translate}}
                            </label>
                            <input type="text" class="form-control border-2" id="beneficiaryName"
                                formControlName="beneficiaryName"
                                [class.is-invalid]="transactionForm.get('beneficiaryName').invalid && transactionForm.get('beneficiaryName').touched" />
                            <div class="invalid-feedback"
                                *ngIf="transactionForm.get('beneficiaryName').hasError('required') &&  transactionForm.get('beneficiaryName').touched ">
                                Beneficiary Name.
                            </div>
                        </div>
                    </div>


                    <div class="row mt-4">
                        <div class="col-6">
                            <!-- Amount -->
                            <label for="amount" class="form-label text-muted fw-bold fs-5 mb-0">
                                {{'BBL000031'|translate}}
                            </label>
                            <input type="text" class="form-control border-2" id="amount" formControlName="amount"
                                [class.is-invalid]="transactionForm.get('amount').invalid && transactionForm.get('amount').touched" />
                            <div class="invalid-feedback"
                                *ngIf="transactionForm.get('amount').hasError('required') &&  transactionForm.get('amount').touched ">
                                Please enter the amount.
                            </div>
                        </div>
                        <div class="col-6">
                            <!-- Transaction Particular -->
                            <label for="transactionParticular" class="form-label text-muted fw-bold fs-5 mb-0">
                                {{'BBL000005'|translate}}
                            </label>
                            <input type="text" class="form-control border-2" id="transactionParticular"
                                formControlName="transactionParticular"
                                [class.is-invalid]="transactionForm.get('transactionParticular').invalid && transactionForm.get('transactionParticular').touched" />
                            <div class="invalid-feedback"
                                *ngIf="transactionForm.get('transactionParticular').hasError('required') &&  transactionForm.get('transactionParticular').touched ">
                                Particulars.
                            </div>
                        </div>
                    </div>


                    <div class="row mt-4">
                        <div class="col-12">
                            <!-- Transaction Remarks -->
                            <label for="transactionRemarks" class="form-label text-muted fw-bold fs-5 mb-0">
                                {{'BBL000032'|translate}}
                            </label>
                            <input type="text" class="form-control border-2" id="transactionRemarks"
                                formControlName="transactionRemarks"
                                [class.is-invalid]="transactionForm.get('transactionRemarks').invalid && transactionForm.get('transactionRemarks').touched" />
                            <div class="invalid-feedback"
                                *ngIf="transactionForm.get('transactionRemarks').hasError('required') &&  transactionForm.get('transactionRemarks').touched ">
                                Please enter the Remarks.
                            </div>
                        </div>
                    </div>

                </div>
                <!-- BUTTONS -->
                <div class="d-flex flex-row-reverse mt-5">

                    <!-- PROCEED BUTTON -->
                    <button type="button" class="btn btn-primary">
                        <div class="d-flex align-items-center justify-content-center gap-1">
                            {{ 'BBL000102' | translate }}
                            <i class="ti ti-check fs-3"></i>
                        </div>
                    </button>
                    <!-- RESET BUTTON -->
                    <button type="button" class="btn btn-warning mx-2">
                        <div class="d-flex align-items-center justify-content-center gap-1">
                            {{ 'BBL000101' | translate }}
                            <i class="ti ti-refresh fs-3"></i>
                        </div>
                    </button>
                    <!-- BACK BUTTON -->
                    <button type="button" class="btn btn-secondary">
                        <div class="d-flex align-items-center justify-content-center gap-1">
                            <i class="ti ti-arrow-left fs-3"></i>
                            {{ 'BBL000100' | translate }}
                        </div>
                    </button>


                </div>
            </form>
        </div>

    </div>
</div>