<div class="container">
  <div class="" style="background-color: aliceblue">
    <h4>{{ 'BBL000001' | translate }}</h4>
  </div>

  <div class="col-8">
    <form [formGroup]="loanInsMnt">
      <div class="form-group">
        <label for="optAcctNo" class="form-label">{{ 'BBL000015' | translate }}</label>
        <input
          type="text"
          class="form-control"
          id="optAcctNo"
          formControlName="optAcctNo"
          required
          [class.is-invalid]="optAcctNo.touched && optAcctNo.invalid"
        />
        <div *ngIf="optAcctNo.touched && optAcctNo.hasError('required')" class="invalid-feedback">{{ 'BBL000016' | translate }}</div>
      </div>
    </form>
  </div>

  <div class="d-flex flex-row-reverse pt-3">
    <button  type="button" class="btn btn-primary border">
      {{ 'BBL000100' | translate }}
      <!--<mat-icon>arrow_forward</mat-icon>-->
    </button>
    <button type="button" class="btn btn-primary border">
      <!--<mat-icon>rotate_left</mat-icon> -->
      {{ 'BBL000101' | translate }}</button>
    <button type="button" class="btn btn-primary border">
      <!--<mat-icon>clear</mat-icon> -->
      {{ 'BBL000102' | translate }}</button
    >
  </div>
</div>
