<body>
    <div class="container">

            <form [formGroup]="menuCreationForm" class="glass-back py-5 shadow shadow-sm" >
                <div>
                    <h1 class="text-primary fw-bold">CREATE MENUS</h1>
                    <hr>
                </div>
                
                <!-- MODULE AND ID INPUT FIELDS -->
                <div class="mt-5">
                    
                    <div class="row">
                        <div class="col-2">
                            <h3 class="text-muted fw-bold">Module</h3> 
                        </div>
                        
                        <div class="col-8">
                            <select class="form-select form-select-sm w-50 h-100 rounded">
                                <option value="0" style="display: none;">Select Module</option>
                                <option value="1">Module 1</option>
                                <option value="2">Module 1</option>
                              </select>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-2">
                            <h3 class="text-muted fw-bold">ID</h3> 
                        </div>
                        
                        <div class="col-8">
                            <input type="text"
                            class="form-control form-control-lg input-field1 w-50"
                            placeholder="ID">
                        </div>
                    </div>
            
                </div>

                <!-- MID 2 -->

                <div>
                    <div class="row mt-5">
                        <div class="col-4">
                            <select class="form-select form-select-sm w-75 h-100 rounded">
                                <option value="eng">ENGLISH</option>
                                <option value="ban">BANGLA</option>
                              </select>
                        </div>
                        <div class="col-4">
                            <input type="text"
                            class="form-control form-control-lg input-field1 w-75"
                            placeholder="Name">
                        </div>
                        <div class="col-4">
                            <input type="text"
                            class="form-control form-control-lg input-field1 w-75"
                            placeholder="Remarks">
                        </div>
                    </div>

                    <!-- ////////////////////////////////////// -->

                    <div class="row mt-5">
                        <div class="col-4">
                            <select class="form-select form-select-sm w-75 h-100 rounded">
                                <option value="eng">ENGLISH</option>
                                <option value="ban">BANGLA</option>
                              </select>
                        </div>
                        <div class="col-4">
                            <input type="text"
                            class="form-control form-control-lg input-field1 w-75"
                            placeholder="Name">
                        </div>
                        <div class="col-4">
                            <input type="text"
                            class="form-control form-control-lg input-field1 w-75"
                            placeholder="Remarks">
                        </div>
                    </div>

                </div>

                <!-- BOTTOM 2 -->

                <div>
                    <div class="row mt-5">
                        <div class="col-2">
                            <h3 class="text-muted fw-bold">Parent ID</h3> 
                        </div>
                        <div class="col-4">
                            <input type="text"
                            class="form-control form-control-lg input-field1 w-75"
                            placeholder="Parent ID">
                        </div>
                        <div class="col-4">
                            <button class="btn btn-primary mt-1">Search</button>
                        </div>
                    </div>

                    <!-- ////////////////////////////////////// -->

                    <div>
                        <div class="row mt-5">
                            <div class="col-2">
                                <h3 class="text-muted fw-bold">APP ID</h3> 
                            </div>
                            <div class="col-4">
                                <input type="text"
                                class="form-control form-control-lg input-field1 w-75"
                                placeholder="APP ID">
                            </div>
                            <div class="col-4">
                                <button class="btn btn-primary mt-1">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            
            </form>
    </div>        
  </body>