


<div class="m-5">
  <div class="border-bottom">
    <h1 class="text-primary fw-bold">Menu</h1>
  </div>

  <mat-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="firstFormGroup" [completed]="false" label="Menu Maintenance">
      <form [formGroup]="firstFormGroup">
        <div class="d-flex flex-column m-2 me-5">
          <div class="pt-1 w-50 row mt-5">
            <label for="funcCode" class="form-label text-muted col-4 fw-bold">Function Code</label>
            <div class="col-8">
              <select id="funcCode" class="form-select form-select-sm"
                      aria-label=".form-select-lg example">
                <option selected></option>
                <option value="I">I-Inquiry</option>
                <option value="A">A-Add</option>
                <option value="D">D-Delete</option>
                <option value="U">U-Undelete</option>
                <option value="M">M-Modification</option>
                <option value="V">V-Verification</option>
                <option value="X">X-Cancel</option>
                <option value="C">C-Copy</option>
              </select>
            </div>
          </div>
          <div class="pt-4 w-50 row">
            <label for="refCodeType" class="form-label text-muted fw-bold col-4">Menu ID</label>

            <div class="col-8">
              <div class="d-flex flex-row">
                <input
                  type="text"
                  class="form-control"
                  id="refCodeType"/>
<!--                  (focusout)="onFocusOutEvent($event)"-->
<!--                />-->
                <button type="button" class="btn btn-outline-primary ms-5" >Search</button>
<!--                <label class="form-label text-muted">{{refCodeDesc}}</label>-->
              </div>
            </div>
          </div>
        </div>
        <div class="text-end">
          <button class="btn btn-primary ms-5" (click)="onNext()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Menu Details" [completed]="false">
      <form [formGroup]="secondFormGroup">
        <div class="mt-5">
          <div class=" d-flex flex-row">
            <div class="text-muted fw-bold pe-5 pt-1">Module</div>
            <select class="form-select w-50">
              <option value="1">Module 1</option>
              <option value="2">Module 2</option>
            </select>
          </div>
          <div class="mt-5">
            <div class="row border-bottom m-1 pb-3">
              <div class="col-4">
                <span class="fw-bold p-5">Language</span>
              </div>
              <div class="col-4">
                <span class="fw-bold">Name</span>
              </div>
              <div class="col-4">
                <span class="fw-bold">Remarks</span>
              </div>
            </div>
            <div *ngFor="let lang of languages">
              <div class="row m-1 pb-2 pt-2">
                <div class="col-4">
                  <span class="fw-bold p-5">{{lang}}</span>
                </div>
                <div class="col-4">
                  <input type="text"
                         class="form-control">
                </div>
                <div class="col-4">
                  <input type="text"
                         class="form-control">
                </div>
              </div>
            </div>

          </div>

        </div>

        <!-- MID 2 -->

        <!-- BOTTOM 2 -->
        <div class="mt-5">
          <div class="row">
            <div class="col-2 text-start">
              <div class="text-muted fw-bold pe-5 pt-1">Parent ID</div>
            </div>
            <div class="col-4">
              <input type="text"
                     class="form-control">
            </div>
            <div class="col-6 text-start">
              <button class="btn btn-outline-primary ms-5">Search</button>
            </div>
          </div>
        </div>

        <div class="mt-5">
          <div class="row">
            <div class="col-2 text-start">
              <div class="text-muted fw-bold pe-5 pt-1">APP ID</div>
            </div>
            <div class="col-4">
              <input type="text"
                     class="form-control">
            </div>
            <div class="col-6 text-start">
              <button class="btn btn-outline-primary ms-5">Search</button>
            </div>
          </div>
        </div>


        <div class="text-end">
          <button class="btn btn-primary me-2" (click)="onSave()">Save</button>
          <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>


</div>
