<div class="card card-body">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()" class="glass-back my-5 py-5">
    <div><h2 class="text-primary fw-bold mb-5">CHANGE PASSWORD</h2></div>
    <!-- New Password input -->
    <div class="form-outline mb-4 password-visibility-container">
      <label class="form-label text-muted">Old Password</label>
      <input 
        type="{{ hideOldEyeIcon ? 'text' : 'password' }}"
        [(ngModel)]="oldPassword" 
        class="form-control form-control-lg" 
        formControlName="loginKeyOld" />

        <span class="password-toggle fs-3">
          <i 
          class="ti ti-eye"
          *ngIf="showOldEyeIcon()" 
          (mousedown)="toggleOldPasswordVisibility($event)" 
          (mouseup)="hideOldPasswordEyeIcon()" >
          </i>
        </span>
    </div>
    <!-- New Password input -->
    <div class="form-outline mb-4 password-visibility-container">
      <label class="form-label text-muted">New Password</label>
      <input 
        type="{{ hideNewEyeIcon ? 'text' : 'password' }}"
        [(ngModel)]="newPassword" 
        class="form-control form-control-lg" 
        formControlName="loginKeyNew" />

        <span class="password-toggle fs-3">
          <i 
          class="ti ti-eye"
          *ngIf="showNewEyeIcon()" 
          (mousedown)="toggleNewPasswordVisibility($event)" 
          (mouseup)="hideNewPasswordEyeIcon()" >
          </i>
        </span>
    </div>

    <!-- Confirm Password -->
    <div class="form-outline mb-4 password-visibility-container">
      <label class="form-label text-muted">Confirm Password</label>
      <input 
        type="{{ hideConfirmEyeIcon ? 'text' : 'password' }}"
        [(ngModel)]="confirmPassword"
        class="form-control form-control-lg" 
        formControlName="loginKeyRe" />

        <span class="password-toggle fs-3">
          <i 
          class="ti ti-eye"
          *ngIf="showConfirmEyeIcon()" 
          (mousedown)="toggleConfirmPasswordVisibility($event)" 
          (mouseup)="hideConfirmPasswordEyeIcon()" >
          </i>
        </span>
    </div>

    <!-- Submit button -->
    <div class="d-flex justify-content-center align-items-center">
      <button type="button" class="btn btn-primary btn-block rounded mb-2" (click)="onChangePassword()">Apply</button>
    </div>
  </form>
</div>
