<div class="card card-body">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()" class="glass-back my-5 py-5">
    <div><h2 class="text-primary fw-bold mb-5">CHANGE PASSWORD</h2></div>
    <div class="form-outline mb-4">
      <label class="form-label text-muted">Old Password</label>
      <input type="password" class="form-control form-control-lg" formControlName="loginKeyOld" />
    </div>
    <!-- New Password input -->
    <div class="form-outline mb-4">
      <label class="form-label text-muted">New Password</label>
      <input type="password" class="form-control form-control-lg" formControlName="loginKeyNew" />
    </div>

    <!-- Confirm Password -->
    <div class="form-outline mb-4">
      <label class="form-label text-muted">Confirm Password</label>
      <input type="password" class="form-control form-control-lg" formControlName="loginKeyRe" />
    </div>

    <!-- Submit button -->
    <div class="d-flex justify-content-center align-items-center">
      <button type="button" class="btn btn-primary btn-block rounded mb-2" (click)="onChangePassword()">Apply</button>
    </div>
  </form>
</div>
