<div class="row d-flex justify-content-center align-items-center ">
  <div class="col-lg-6 col-md-8 col-sm-12">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()" class="my-5 bg-white p-5 rounded shadow-md">
      <div>
        <h2 class="text-primary fw-bold mb-5">
          {{'BBL000044'|translate}}
        </h2>
      </div>
      <!-- New Password input -->
      <div class="form-outline mb-4 password-visibility-container">
        <label class="form-label fw-bold fs-5 mb-0">
          {{'BBL000045'|translate}}
        </label>
        <input type="{{ hideOldEyeIcon ? 'text' : 'password' }}" [(ngModel)]="oldPassword"
          class="form-control form-control-lg border-2" formControlName="loginKeyOld" />

        <span class="password-toggle fs-3">
          <i class="ti ti-eye" *ngIf="showOldEyeIcon()" (mousedown)="toggleOldPasswordVisibility($event)"
            (mouseup)="hideOldPasswordEyeIcon()">
          </i>
        </span>
      </div>
      <!-- New Password input -->
      <div class="form-outline mb-4 password-visibility-container">
        <label class="form-label fw-bold fs-5 mb-0">
          {{'BBL000046'|translate}}
        </label>
        <input type="{{ hideNewEyeIcon ? 'text' : 'password' }}" [(ngModel)]="newPassword"
          class="form-control form-control-lg border-2" formControlName="loginKeyNew" />

        <span class="password-toggle fs-3">
          <i class="ti ti-eye" *ngIf="showNewEyeIcon()" (mousedown)="toggleNewPasswordVisibility($event)"
            (mouseup)="hideNewPasswordEyeIcon()">
          </i>
        </span>
      </div>

      <!-- Confirm Password -->
      <div class="form-outline mb-4 password-visibility-container">
        <label class="form-label fw-bold fs-5 mb-0">
          {{'BBL000047'|translate}}
        </label>
        <input type="{{ hideConfirmEyeIcon ? 'text' : 'password' }}" [(ngModel)]="confirmPassword"
          class="form-control form-control-lg  border-2" formControlName="loginKeyRe" />

        <span class="password-toggle fs-3">
          <i class="ti ti-eye" *ngIf="showConfirmEyeIcon()" (mousedown)="toggleConfirmPasswordVisibility($event)"
            (mouseup)="hideConfirmPasswordEyeIcon()">
          </i>
        </span>
      </div>

      <!-- Submit button -->
      <div class="d-flex justify-content-end align-items-center">
        <button type="button" class="btn btn-primary btn-block shadow-sm" (click)="onChangePassword()">
          {{'BBL000108'|translate}}
        </button>
      </div>
    </form>
  </div>
</div>