<div class="container">
  <div class="d-flex">
    <div class="col-8 p-1">
      <div class="" style="background-color: aliceblue">
        <h4>{{ 'BBL000001' | translate }}</h4>
      </div>

      <form [formGroup]="cashWithdrawal">
        <div class="form-group">
          <label for="accountNo" class="form-label">{{ 'BBL000002' | translate }}</label>
          <input
            type="text"
            class="form-control"
            id="accountNo"
            formControlName="accountNo"
            required
            [class.is-invalid]="accountNo.touched && accountNo.invalid"
          />
          <div *ngIf="accountNo.touched && accountNo.hasError('required')" class="invalid-feedback">{{ 'BBL000008' | translate }}</div>

          <label for="withdrawalAmount" class="form-label">{{ 'BBL000012' | translate }}</label>
          <input
            type="text"
            class="form-control"
            id="withdrawalAmount"
            formControlName="withdrawalAmount"
            required
            [class.is-invalid]="withdrawalAmount.touched && withdrawalAmount.invalid"
          />
          <div *ngIf="withdrawalAmount.touched && withdrawalAmount.hasError('required')" class="invalid-feedback">
            {{ 'BBL000009' | translate }}</div
          >
          <div class="d-flex pt-2">
            <div class="col-6 p-2">
              <label for="purposeofWD" class="form-label">{{ 'BBL000013' | translate }}</label>
              <input
                type="text"
                class="form-control"
                id="purposeofWD"
                formControlName="purposeofWD"
                required
                [class.is-invalid]="purposeofWD.touched && purposeofWD.invalid"
              />
              <div *ngIf="purposeofWD.touched && purposeofWD.hasError('required')" class="invalid-feedback">
                {{ 'BBL000014' | translate }}.</div
              >
            </div>
            <div class="col-6 p-2">
              <label for="tranPart" class="form-label">{{ 'BBL000005' | translate }}</label>
              <input
                type="text"
                class="form-control"
                id="tranPart"
                formControlName="tranPart"
                required
                [class.is-invalid]="tranPart.touched && tranPart.invalid"
              />
              <div *ngIf="tranPart.touched && tranPart.hasError('required')" class="invalid-feedback">{{ 'BBL000011' | translate }}</div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-4 p-1">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" style="background-color: aliceblue">{{ 'BBL000006' | translate }}</h4>
          <p class="card-text">{{ 'BBL000007' | translate }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row-reverse">
    <button type="button" class="btn btn-primary border">
      {{ 'BBL000100' | translate }}
      <!--<mat-icon>arrow_forward</mat-icon> -->
    </button>
    <button type="button" class="btn btn-primary border">
      <!--<mat-icon>rotate_left</mat-icon> -->
      {{ 'BBL000101' | translate }}</button
    >
    <button type="button" class="btn btn-primary border">
      <!--<mat-icon>clear</mat-icon> -->
      {{ 'BBL000102' | translate }}</button
    >
  </div>
</div>
