<div class="card">
  <div class="card-header text-primary fs-3 fw-bold">
    <div class="d-flex justify-content-between align-items-center">
      <h3>{{data.title}}</h3>

      <div mat-dialog-actions class="d-flex justify-content-end p-2">
        <button (click)="onCloseClick()" class="btn btn-outline-danger btn-sm shadow shadow-sm">
          <i class="ti ti-x fs-3"></i>
        </button>
      </div>
    </div>

    <p>{{ messageDetails }}</p>
  </div>

  <div mat-dialog-content style="height: calc(100vh - 400px);" class="px-4 card-body">
    <ag-grid-angular
      style="width: 100%; height: 340px;"
      class="ag-theme-quartz"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      (selectionChanged)="onSelectionChanged($event)"
      [rowSelection]="selectionMode"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>

  <div class="d-flex flex-row-reverse">
    <button (click)="onNextPage()"
            class="btn btn-outline-danger"
            [disabled]="maxPageNumber === 0 || (currentPageNumber === maxPageNumber)">
      NEXT
    </button>
    <button (click)="onPrevPage()" class="btn btn-outline-danger" [disabled]="currentPageNumber===1">PREV</button>
  </div>

</div>
