<div class="card shadow-none">
  <div>
    <div class="card-header">
    <div class="d-flex justify-content-between align-items-center mb-0">
      <div class="text-uppercase text-primary fw-bold fs-3">{{data.title}}</div>

      <div mat-dialog-actions class="d-flex justify-content-end p-2">
        <button (click)="onCloseClick()" class="btn btn-outline-danger btn-sm shadow shadow-sm">
          <i class="ti ti-x fs-3"></i>
        </button>
      </div>
    </div>

    <p class="text-muted fw-bold">{{ messageDetails }}</p>
    <hr>
  </div>

  <div mat-dialog-content style="height: calc(100vh - 400px);" class="px-4">
    <ag-grid-angular
      style="width: 100%; height: 340px;"
      class="ag-theme-quartz"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      (selectionChanged)="onSelectionChanged($event)"
      [rowSelection]="selectionMode"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>

    <div class="text-end py-2">
      <!-- BUTTON PREVIOUS -->
      <button (click)="onPrevPage()"
              class="btn btn-secondary me-2"
              [disabled]="currentPageNumber===1">
              <div class="d-flex align-items-center justify-content-center gap-1">
                <i class="ti ti-arrow-left fs-3 mb-1"></i>
                PREV
              </div>
      </button>
      <!-- BUTTON NEXT -->
      <button (click)="onNextPage()"
              class="btn btn-secondary"
              [disabled]="maxPageNumber === 0 || (currentPageNumber === maxPageNumber)">
              <div class="d-flex align-items-center justify-content-center gap-1">
                NEXT
                <i class="ti ti-arrow-right fs-3 mb-1"></i>
              </div>

      </button>
    </div>
  </div>

</div>

