<header>
  <nav class="px-2" style="background-color: #FFFFFF;">
    <div class="ms-2 d-flex justify-content-between pt-3">
      
      <div class="d-flex justify-content-center">
        <a class="navbar-brand " href="#">
        
          <a [routerLink]="['/']" class="b-brand">
            <!-- ========   change your logo hear   ============ -->
            <img src="assets/images/logo-dark.svg" alt="" class="logo logo-lg pt-1"/>
          </a>
        
      </a>
      
      </div>

      
      <div class="mx-5 mt-3">
        <app-welcome-message></app-welcome-message>
      </div>
      

      

      <div>
        
        <ul class="list-unstyled d-flex justify-content-end align-items-center">
          
          <li>
            <div class=" mx-2">
              <select class="form-select form-select-sm"#selLang (change)="translateLanguageTo(selLang.value)" >
                <option value="en"  selected>English</option>
                <option value ="bn" >Bangla</option>
              </select>
            </div>
          </li>
          <li>
            <div class="dropdown pc-h-item header-user-profile user-settings mx-2" ngbDropdown>

              <div>
                <a
                class="pc-head-link head-link-primary dropdown-toggle arrow-none me-0 d-flex justify-content-center align-items-center"
                data-bs-toggle="dropdown"
                href="javascript:"
                ngbDropdownToggle
              >
                <img 
                src="" 
                alt="user-image" 
                class="profilepic user-avtar"
                onerror="this.src='../../../../../../assets/images/defaultUserProfilePicture.svg'; 
                        this.alt='Default Profile' ;
                        id='defaultProfilePic'"
                />
                <span class="mx-2">
                  <i class="ti ti-settings"></i>
                </span>
              </a>

              </div>

              <div class="dropdown-menu  dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
                <div class="dropdown-header">
                  <h4> {{username}} </h4>
                  <p class="text-muted">Admin</p>
                  <a (click)="onLogout()" class="dropdown-item button">
                    <i class="ti ti-logout"></i>
                    <span>Logout</span>
                  </a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      
    </div>
  </nav>
</header>

<!-- CONTENT STARTS -->
<div class="container-fluid  ms-auto content" style="background: #EAEAF3">
  
  <div class="d-flex m-2 card border border-dark border-bottom-1 ">
    <div class="col-12">
      <div class="col-12">
        <div class="card shadow-none border-end  rounded-0 m-0">
          <div class="card-header">
            <h5 class="card-title"> Module</h5>
          </div>
          <div class="card-body">
            <div class="row justify-content-start d-flex">
              <div class="col-1">
                <div class="row">
                  <div class="col-12">
                    <a class="button" routerLink="/private/access-control">
            <span class="justify-content-center">
                    <img src="assets/images/access-control.svg" height="60" width="60" alt="Access Control"
                         id="access-control" class="img-thumbnail"/>
            </span>
                    </a>
                  </div>
                  <div class="col-12">
                    <span class="justify-content-center text-muted ">Access <br> Control</span>
                  </div>
                </div>
              </div>
              <div class="col-11">
                <div class="row">
                  <div class="col-12">
                    <a class="button" routerLink="/private/operations">
            <span class="justify-content-center">
                    <img src="assets/images/operations.svg" height="60" width="60" alt="Access Control"
                         id="operations" class="img-thumbnail"/>
            </span></a>
                  </div>
                  <div class="col-12">
                    <span class="justify-content-center text-muted">Operations</span>
                  </div>
                </div>


              </div>

            </div>


          </div>
        
        </div>
      </div>
      
    </div>
    
  </div>
  
  <!-- NOTICE BOARD STARTS -->
  <div class="mx-2">
    <div class="col-12">
      <div class="card shadow-none border-end  rounded-3 m-0 ">
        <div class="card-header">
          <h5 class="card-title"> Notice</h5>
        </div>
         <div class="notice-section">
          <!--NOTICE CARDS START -->
          <div class="card" *ngFor="let notice of notices ;let i = index">
            <h5 class="card-header  fs-5">{{notice.header}}</h5>
            <div class="card-body">

              <div *ngIf="notice.message.length<maxLength">
                <span>{{notice.message}}</span>
              </div>

              <div *ngIf="notice.message.length>maxLength">
                <span>{{ isExpanded[i] ? notice.message : notice.message.substring(0, maxLength) + '...' }}</span>
                <span (click)="toggleText(i)" class="show-less-button" *ngIf="notice.message.length > maxLength && !isExpanded[i]">
                  Show more
                </span>
                <span (click)="toggleText(i)" class="show-more-button" *ngIf="isExpanded[i]">
                  Show less
                </span>
                
              </div>

            </div>
          </div>
          
         </div>
      </div>
    </div>
  </div>
</div>

 <!-- FOOTER STARTS -->
<footer>
  <div class="card-footer footer">
    <div class="d-flex justify-content-around">
      <div class="my-1">
        <p class="m-0"> Copyright &copy; <a href="https://bracbank.com" target="_blank">BRAC BANK PLC </a></p>
      </div>
      <div class="my-1">
        <p class="m-0"> Powered By &copy; <a href="https://bracbank.com" target="_blank">CORE BANKING APPLICATION |
          TEAM R & D </a></p>
      </div>
    </div>
  </div>

</footer>

