
.container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
  --bs-gutter-x: 0;
}
#operations{
  background: #a27ee5;
}


#access-control{
  background: #ef7784;
}


.me-0 {
  margin: 4px 0 0 4px !important;
}
.profilepic{
  height: 45px;
  width: 45px;
  border-radius: 50px;
  padding: 5px;
  margin-top: 1px;
}
.user-settings{
 
  background-color: rgb(211 234 253);
  border-radius: 25px;
  height: 48px;
   
}
.user-settings:hover{
  background-color: rgb(33 150 243);
  .ti-settings{
    color: white;
  }
}

.ti-settings{
  font-size: 21px;
  padding-right: 6px;

}

.button:hover{
  cursor: pointer;
  background-color: rgb(33 150 243);
  color: white;
  border-radius: 10px;
}

#defaultProfilePic{
  height: 50px;
  width: 50px;
  margin-top: 2px;
}



.footer {
  flex-shrink: 1;
  padding: 10px;
  text-align: center;
  width: 100%; 
  position: relative;
  bottom: 0; 
}
body{
  overflow: auto;
}
.content {
  overflow-y: auto; 
  padding: 20px;
  padding-top: 100px;
  padding-bottom: 200px;
  position: fixed;
  
}
header{
  width: 100%;
  position: fixed;
  z-index: 100;
}
footer{
      background-color: white;
      padding: 10px;
      position: fixed;
      bottom: 0;
      width: 100%;
}

.notice-section{
  max-height: 300px;
  overflow-y: auto;
  
}

.show-more-button{
  cursor: pointer;
  margin-left: 5px;
  color: #a27ee5;
}

.show-less-button{
  cursor: pointer;
  margin-left: 5px;
  color: #a27ee5
}

.img-thumbnail{
  height: 60px;
  width: 60px;
}