<!-- HEADER -->
<app-header class="app-header"></app-header>
<!-- CONTENT STARTS -->
<div class="container-fluid  ms-auto content" style="background: #EAEAF3">

  <div class="d-flex m-2 card border border-dark border-bottom-1 ">
    <div class="col-12">
      <div class="col-12">
        <div class="card shadow-none border-end  rounded-0 m-0">
          <div class="card-header">
            <h5 class="card-title">{{ 'BBL000106' | translate }}</h5>
          </div>
          <div class="card-body">
            <div class="justify-content-start gap-5 d-flex align-items-center">

                  <div>
                    <a class="button" (click)="routing('/private/access-control')">
                      <div class="d-flex flex-column justify-content-center align-items-center">
                        <img src="assets/images/access-control.svg" alt="Access Control"
                          id="access-control" class="img-thumbnail shadow shadow-sm"/>

                        <span class="text-muted">{{ 'BBL000104' | translate }}</span>
                      </div>
                    </a>
                  </div>


                  <div>
                    <a class="button" (click)="routing('/private/operations')">
                      <div class="d-flex flex-column justify-content-center align-items-center">
                        <img src="assets/images/operations.svg" alt="Access Control"
                         id="operations" class="img-thumbnail shadow shadow-sm"/>

                        <span class="text-center text-muted">{{ 'BBL000105' | translate }}</span>
                      </div>
                    </a>
                  </div>

                  <div>
                    <a class="button" (click)="routing('/private/core-config')">
                      <div class="d-flex flex-column justify-content-center align-items-center">
                        <img src="assets/images/core-configuration.svg" alt="core-config"
                         id="core-config" class="img-thumbnail shadow shadow-sm"/>
                        <span class="text-center text-muted">{{ 'BBL000107' | translate }}</span>
                      </div>
                    </a>
                  </div>

            </div>


          </div>

        </div>
      </div>

    </div>

  </div>

  <!-- NOTICE BOARD STARTS -->
  <div class="mx-2">
    <div class="col-12">
      <div class="card shadow-none border-end  rounded-3 m-0 ">
        <div class="card-header">
          <h5 class="card-title"> Notice</h5>
        </div>
         <div class="notice-section">
          <!--NOTICE CARDS START -->
          <div class="card" *ngFor="let notice of notices ;let i = index">
            <h5 class="card-header  fs-5">{{notice.header}}</h5>
            <div class="card-body">

              <div *ngIf="notice.message.length<maxLength">
                <span>{{notice.message}}</span>
              </div>

              <div *ngIf="notice.message.length>maxLength">
                <span>{{ isExpanded[i] ? notice.message : notice.message.substring(0, maxLength) + '...' }}</span>
                <span (click)="toggleText(i)" class="show-less-button" *ngIf="notice.message.length > maxLength && !isExpanded[i]">
                  Show more
                </span>
                <span (click)="toggleText(i)" class="show-more-button" *ngIf="isExpanded[i]">
                  Show less
                </span>

              </div>

            </div>
          </div>

         </div>
      </div>
    </div>
  </div>
</div>

 <!-- FOOTER STARTS -->

<app-footer></app-footer>

