
.container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
  --bs-gutter-x: 0;
}
#operations{
  background: #a27ee5;
}


#access-control{
  background: #ef7784;
}

#core-config{
  background: #1576bcb2;
}

.me-0 {
  margin: 4px 0 0 4px !important;
}



.footer {
  flex-shrink: 1;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
}
body{
  overflow: auto;
}
.content {
  overflow-y: auto;
  padding: 20px;
  padding-top: 100px;
  padding-bottom: 200px;
  position: fixed;

}
header{
  width: 100%;
  position: fixed;
  z-index: 100;
}
footer{
      background-color: white;
      padding: 10px;
      position: fixed;
      bottom: 0;
      width: 100%;
}

.notice-section{
  max-height: 300px;
  overflow-y: auto;

}

.show-more-button{
  cursor: pointer;
  margin-left: 5px;
  color: #a27ee5;
}

.show-less-button{
  cursor: pointer;
  margin-left: 5px;
  color: #a27ee5
}

.img-thumbnail{
  height: 60px;
  width: 60px;
}
